* {
  margin: 0;
  padding: 0;
}

body {
  padding: 24px;
  font-family: 'Fira Sans', serif;
  font-size: 16px;
  line-height: 24px;
  background: whitesmoke;
}

main {
  margin: 0 auto;
  width: 816px;
}

a {
  color: dimgray;
  text-decoration: underline;
}

a[href] {
  color: blue;
}

img {
  display: block;
  max-width: 100%;
}

pre {
  margin: 24px 0 0;
  padding: 24px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  background: white;
  overflow: auto;
}

code {
  color: navy;
  background: white;
}

h3 code {
  color: inherit;
  background: inherit;
}

samp {
  color: dimgray;
}

samp kbd {
  color: navy;
}

samp var {
  color: dimgray;
}

mark {
  font-weight: bold;
  background: none;
  color: inherit;
}

h1 {
  font-size: 54px;
  line-height: 72px;
  font-weight: bold;
}

h2 {
  margin: 36px 0 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

h3 {
  margin: 36px 0 -12px;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}

h4 {
  margin: 36px 0 -16px;
  font-size: 18px;
  font-weight: bold;
}

p {
  margin: 24px 0 0;
}

ol {
  margin: 24px 0 0 18px;
  list-style-type: decimal;
}

ul {
  margin: 24px 0 0 18px;
  list-style-type: disc;
}

ol ol,
ol ul,
ul ul,
ul ol {
  margin-top: 0;
}

li {
  margin: 8px 0 0;
}

figure {
  margin: 24px 0 0;
  padding: 24px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  background: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  font-size: 16px;
  line-height: 24px;
}

tbody tr {
  border-top: 1px solid silver;
}

th,
td {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  font-size: 16px;
  line-height: 24px;
}

th + th,
td + td {
  border-left: 1px solid silver;
}

th {
  font-weight: bold;
}

nav {
  margin: 24px 0 0;
  padding: 24px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  background: white;
}

nav ul {
  margin: 0;
  list-style: none;
}

nav ul ul {
  margin-left: 36px;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
